*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	min-width: 1200px;
	background: #f5f5f5;
	font-family: "Microsoft Yahei", 微软雅黑, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(102, 102, 102);
}

.container{
	width: 850px;
	background: #fff;
	padding-bottom: 80px;
	margin: 60px auto 40px;
}
.logo{
	background: url(../images/nubia-logo.png) no-repeat 0 -55px;
	width: 156px;
	height: 55px;
	margin: 0 auto 20px;
	position: relative;
	top: 30px;
}
/*表单开始*/

.nav_Tab{
	font-size: 18px;
	color: #333;
	text-align: center;
	margin: 40px auto 20px;
}
.nav_Tab label{
	display: inline-block;
	cursor: pointer;
}
.fa{
	color: #e8380d!important;
}
.nav_Con{
	display: flex;
	justify-content: center;
}
.nav_Con .dl_id,.dl_phone{
	width: 360px;
}
.nav_Con .inp_con{
	margin-bottom: 20px;
	position: relative;
}
.nav_Con .inp_con 	input{
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	border: 1px solid #e0e4e7;
	vertical-align: middle;
	font-size: 12px;
	font-family: tahoma, arial, simsun, sans-serif;
}
.nav_Con .inp_con input:focus{
	outline: 0;
}
.dl_phone >.inp_con >.btn-code{
	border-left: 1px solid #e0e4e7;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 1.5;
	padding: 0;
	cursor: pointer;
	background: #fff;
	width: 100px;
	text-align: center;
}

/*登录按钮*/
#login_btn{
	width: 360px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 0 auto 20px;
	font-size: 20px;
	background: #e8380d;
	color: #fff;
	border: none;
	cursor: pointer;
	font-family: tahoma, arial, simsun, sans-serif;
}
/*登录按钮结束*/
.register{
	text-align: right;
	margin-top: 10px;
	position: relative;
	right:28.5%;
}

.register a:nth-child(1){
	font-size: 14px;
	color: #e8380d;
}
.register a:hover{
	text-decoration: underline;
}
.register>span{
	font-size: 18px;
	padding: 0 7px;
	color: #d5d5d5;
}

.other_login{
	margin-top: 20px;
}
.other_login>span{
	float: left;
	line-height: 30px;
	position: relative;
	left: 242px;
}
.other_login .login_icon{
	float: left;
	position: relative;
	left:240px ;
}
.login_icon .qq {
	background: url(../images/login_icon.png) no-repeat -1px -1px;
	width: 28px;
	height: 28px;
	display: block;
	float: right;
}
.login_icon .qq:hover {
	background-position: -1px -30px;
}

.login_icon .weibo{
	background: url(../images/login_icon.png) no-repeat -30px -1px;
	width: 28px;
	height: 28px;
	display: block;
	float: right;
}
.login_icon .weibo:hover{
	background-position: -30px -30px;
}

.login_icon .zfb {
	background: url(../images/login_icon.png) no-repeat -88px -1px;
	width: 28px;
	height: 28px;
	display: block;
	float: right;
}
.login_icon .zfb:hover{
	background-position: -88px -30px
}

.login_icon .wechat {
background: url(../images/login_icon.png) no-repeat -59px -1px;
width: 28px;
height: 28px;
display: block;
float: right;
}
.login_icon .wechat:hover{
	background-position: -59px -30px;
}

.login_icon .wechat,.login_icon .zfb,.login_icon .weibo,.login_icon .qq {
	margin-right: 0;
	margin-left: 15px;
}
/*表单结束*/

/*footer开始*/
footer{
	width: 100%;
	height: auto;
	position: relative;
	padding: 10px 0 50px 0;
	margin: auto;
}

.footer_info{
	text-align: center;
	margin: 0 auto;
	width: 1000px;
	color: #ccc;
	position: relative;
	font-size: 12px;
}
.footer_info .copyright_info{
	padding-top: 10px;
}
.footer_info .copyright_info a{
	display: inline-block;
	margin-right: 20px;
	color: #ccc;
	transition: color .3s ease-in-out;
}
.footer_info .copyright_info a:hover{
	color: #333;
}
.footer_info .copyright_info a img{
	border-width: 0;
	border: none;
	vertical-align: middle;
	height: 18px;
}
/*footer结束*/
