*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	min-width: 1200px;
	background: #f5f5f5;
	font-family: "Microsoft Yahei", 微软雅黑, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(102, 102, 102);
}

.container{
	width: 850px;
	background: #fff;
	padding-bottom: 80px;
	margin: 60px auto 40px;
}
.logo{
	background: url(../images/nubia-logo.png) no-repeat 0 -55px;
	width: 156px;
	height: 55px;
	margin: 0 auto 20px;
	position: relative;
	top: 15px;
}

.nav_Con{
	display: flex;
	justify-content: center;
}
.nav_Con .dl_id{
	width: 360px;
}
.nav_Con .dl_id:first-child{
	margin-top: 20px;
}

.nav_Con .inp_con{
	margin-bottom: 20px;
	position: relative;
}
.nav_Con .inp_con input{
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	border: 1px solid #e0e4e7;
	vertical-align: middle;
	font-size: 12px;
	font-family: tahoma, arial, simsun, sans-serif;
}
.nav_Con .inp_con input:focus{
	outline: 0;
}
.dl_id >.inp_con >.btn-code{
	border-left: 1px solid #e0e4e7;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 1.5;
	padding: 0;
	cursor: pointer;
	background: #fff;
	width: 100px;
	text-align: center;
}

.select_item{
	width: 360px;
	margin-left: 8px;
	position: relative;
    left: 28%;
}

.select_item .safe{
	text-align: left;
	margin-bottom: 10px;
}

.safe a{
	color: #e8380d;
}
.safe a:hover{
	text-decoration: underline;
}


/*按钮开始*/
#login_btn{
	width: 360px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 0 auto 20px;
	font-size: 20px;
	background: #e8380d;
	color: #fff;
	border: none;
	cursor: pointer;
	font-family: tahoma, arial, simsun, sans-serif;
}

.select_item p{

	text-align: right;
	
}
.select_item p a:hover{
	text-decoration: underline;
}


/*footer开始*/
footer{
	width: 100%;
	height: auto;
	position: relative;
	padding: 10px 0 50px 0;
	margin: auto;
}

.footer_info{
	text-align: center;
	margin: 0 auto;
	width: 1000px;
	color: #ccc;
	position: relative;
	font-size: 12px;
}
.footer_info .copyright_info{
	padding-top: 10px;
}
.footer_info .copyright_info a{
	display: inline-block;
	margin-right: 20px;
	color: #ccc;
	transition: color .3s ease-in-out;
}
.footer_info .copyright_info a:hover{
	color: #333;
}
.footer_info .copyright_info a img{
	border: 0 none;
	vertical-align: middle;
	height: 18px;
}
/*footer结束*/
